<div class="bg-gray-100 p-6 rounded-lg shadow-lg text-center cambo-regular">
    <h1 class="text-2xl font-bold mb-4">Desde el 31 de Mayo de 2024 que pedí ser tu pareja</h1>
    <p class="text-lg">
      Han pasado:
    </p>
    <div class="text-4xl font-bold mt-4 cambo-regular">
      {{ dias }} días,
      <br>
      {{ horas }} horas,
      <br>
       {{ minutos }} minutos 💜
    </div>
  </div>

  <div class="max-w-sm rounded overflow-hidden shadow-lg bg-white p-6 mx-auto">
    <img class="w-full h-48 object-cover" src="../../../assets/imagen.jpg" alt="Card image">
    <div class="pt-4">
      <h2 class="text-2xl font-semibold text-gray-800 text-center">Hola mi amor</h2>
      <p class="text-gray-600 mt-2">Esta página es para el amor de mi vida 🥰. Espero que cuando abras esta página te acuerdes de cada momento juntos, acá cuento los días y horas juntos  algunas fotos juntos que me recuerdan lo hermoso de estar a tu lado. Con el tiempo agregaré y seguiré agregando cada momento único entre ambos. Te quiero mucho mi amore 💜</p>
    </div>
    <div class="grid place-items-center mt-4">
      <button class="bg-purple-500 text-white px-4 py-2 rounded hover:bg-purple-600" (click)="showAlert()">Presiona Amor</button>
    </div>
    
  </div>
  
