<nav class="bg-gray-100">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex items-center justify-between h-16">
        <!-- Logo -->
        <div class="flex items-center">
          <img src="../../../assets/img.svg" height="50" width="50" alt="">
        </div>
  
        <!-- Menú Principal (oculto en móviles) -->
        <div class="hidden md:flex space-x-4">
          <a [routerLink]="['/']" class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Inicio</a>
          <a [routerLink]="['/carta']" class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Carta</a>
          <a [routerLink]="['/pics']" class="block text-gray-800 hover:text-purple-500 px-4 py-2 text-sm">Nosotros 💜</a>
        </div>
  
        <!-- Botón Menú Mobile -->
        <div class="md:hidden">
          <button (click)="toggleMenu()" class="text-gray-800 hover:text-white focus:outline-none">
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  
    <!-- Menú desplegable (para móviles) -->
    <div *ngIf="menuOpen" class="md:hidden bg-gray-100">
      <a [routerLink]="['/']" class="block text-gray-800 hover:text-purple-500 px-4 py-2 text-sm">Inicio</a>
      <a [routerLink]="['/carta']" class="block text-gray-800 hover:text-purple-500 px-4 py-2 text-sm">Carta</a>
      <a [routerLink]="['/pics']" class="block text-gray-800 hover:text-purple-500 px-4 py-2 text-sm">Nosotros 💜</a>
    </div>
  </nav>
  